:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  
  html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 20px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
  /*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    /* background-image: url("./images/topography.svg"),
      linear-gradient(110deg, #f93d66, #6d47d9); */
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px 0;
  }
  h1{
    text-align: center;
    font-family: cursive;
    font-weight: normal; 
    padding-bottom: 50px;
  }
  .main{
    max-width: 800px;
    text-align: center;
  }
  .grid{
    margin-left:10%;
    margin-right:20%;
    
    width: 70%;
    height: 70%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
   
    
  }
  .cell {
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   
    
    border:2px solid black;
    
  }
  form{
    display:grid;
    grid-template-columns: 1fr 1fr 20px;
  }
  button{
    margin-left :50px;
    margin-right:50px;
  }