:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  
  html {
    
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 20px;
    color: var(--black);
    /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
  }
  
  /*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    
          background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px 0;
  }
  h1{
    text-align: center;
    font-family: initial;
    font-weight: normal; 
    padding-bottom: 50px;
    font-style: italic;
    letter-spacing: +3px;
  }
  .main{
    max-width: 800px;
    text-align: center;
    
    
  }
  
  .grid{
    
    

    align-self: center;
    width: 70%;
    height: 70%;
    display:grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    align-content: center;
    margin:auto;
    justify-content:center;
    
    
    
   
    
  }
  .cell {
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    
    border:1px solid black;
    
   
    
    
    
  }
 
.firstForm, .secondform{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height:300px;
  border: 1px solid grey;
  background-color: rgb(224, 253, 255);  
  justify-items: center;
  border-radius: 30px;
  

}
.ok1,.update{
  grid-column: span 2;
  width: 100px;
  height:40px;
  
  
}
.title{
  grid-column: span 2;
}
input{
  border-radius: 2px;
  padding: 3px;

}
.toplay{
  min-height:40px;
  font-weight:lighter;
  font-style: italic;
}
img.hidden{
  display: none;
}
.resultbox{
  display:grid;
  grid-template-columns:80px 1fr 80px;
  font-family: initial;
 font-weight: normal; 
  
  font-style: italic;
  letter-spacing: +3px;
  padding-top:20px;
}
